{% extends "base.html" %}
{% load static %}
{% block body %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Shipping Policy</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>PRIVACY POLICY</h1>
                    <h2 style="font-size:18px;text-align:left;margin-bottom:0px">Collecting Personal Information</h2>
                    When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information that can uniquely identify an individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why.
                    <br>
                    <br>
                    <h2 style="font-size:18px;text-align:left;margin-bottom:0px">Device information</h2>      
                        • Examples of Personal Information collected: version of web browser, IP address, time zone, cookie information, what sites or products you view, search terms, and how you interact with the Site.<br>
                        • Purpose of collection: to load the Site accurately for you, and to perform analytics on Site usage to optimize our Site.<br>
                        • Source of collection: Collected automatically when you access our Site using cookies, log files, web beacons, tags, or pixels [ADD OR SUBTRACT ANY OTHER TRACKING TECHNOLOGIES USED].<br>
                        • Disclosure for a business purpose: shared with our processor Shopify [ADD ANY OTHER VENDORS WITH WHOM YOU SHARE THIS INFORMATION].<br>
                  <br>
                  <br>
                    <h2 style="font-size:18px;text-align:left;margin-bottom:0px"> Order information</h2>     
                    •	Examples of Personal Information collected: name, billing address, shipping address, payment information (including credit card numbers [INSERT ANY OTHER PAYMENT TYPES ACCEPTED]), email address, and phone number.<br>
                    •	Purpose of collection: to provide products or services to you to fulfill our contract, to process your payment information, arrange for shipping, and provide you with invoices and/or order confirmations, communicate with you, screen our orders for potential risk or fraud, and when in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.<br>
                    •	Source of collection: collected from you.<br>
                    •	Disclosure for a business purpose: shared with our processor Shopify [ADD ANY OTHER VENDORS WITH WHOM YOU SHARE THIS INFORMATION. FOR EXAMPLE, SALES CHANNELS, PAYMENT GATEWAYS, SHIPPING AND FULFILLMENT APPS].<br>
                  <br>
                  <br>
                    <h2 style="font-size:18px;text-align:left;margin-bottom:0px">   Customer support information</h2>
                    •	Examples of Personal Information collected: [MODIFICATIONS TO THE INFORMATION LISTED ABOVE OR ADDITIONAL INFORMATION AS NEEDED]<br>
                    •	Purpose of collection: to provide customer support.<br>
                    •	Source of collection: collected from you.<br>
                    •	Disclosure for a business purpose: [ADD ANY VENDORS USED TO PROVIDE CUSTOMER SUPPORT]<br>
                  
                    
                    

                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

{% endblock %}