{% extends "base.html" %}
{% load static %}
{% block body %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Refund Policy</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>REFUND POLICY</h1>
                        All orders can be cancelled until they are shipped. If your order has been paid and you need to change or cancel it, you must contact us within 12 hours. Once the packaging and shipping process has started, it can no longer be cancelled.
                        Refunds/Replacement (7 Day Refund/Replacement)
                        We offer a 100% money back guarantee/Replacement Guarantee on all products that are damaged during shipping. Just let us know On This Email Address (EFUDEXSTORE@GMAIL.COM) With Video Proof And Shipment Label Also Within 7 Hours Of Delivery and we will provide a return address.
                        note - an unboxing video is needed when asking replacement or refund
                        Customers will be responsible for paying return shipping costs.
                        <br>
                        We do not issue the refund if:
                        <br>
                        ● your order does not arrive due to factors within your control (e.g. providing the wrong shipping address)

                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

{% endblock %}